@import "../../_variables.scss";

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 100%;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background-color: $color-secondary;
    transition: all .25s;

    &:active,
    &:hover {
        background-color: darken($color-secondary, 14%);
    }
}