@import '../../_variables.scss';

$shoe-image-size: 200px;

.marquee-banner {
    position: relative;
    height: 250px;
    width: 100%;
    padding: 0 $gutter-width;
    background-color: #F6F6F6;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;

    h1 {
        position: relative;
        z-index: 1;
        font-size: 70px;
        font-family: 'Rubik', sans-serif;
        font-style: italic;
        color: $color-secondary;
        line-height: 1em;
    }
}

$count: 8;
$multiplier: 3;
$duration: calc(#{$count} * #{$multiplier}s);

.fading-shoes {
    display: flex;
    justify-content: space-between;
    width: calc(#{$shoe-image-size} * 4 + 60px);

    .shoe-box {
        position: relative;
        height: $shoe-image-size;
        width: $shoe-image-size;
        animation-name: appear;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;

        img {
            position: absolute;
            left: 0;
            top: 0;
            animation-name: fade;
            animation-iteration-count: infinite;
            animation-duration: $duration;
        }

        &:nth-child(1) {
            animation-delay: 0.25s;
        }
        &:nth-child(2) {
            animation-delay: 0.5s;
        }
        &:nth-child(3) {
            animation-delay: 0.75s;
        }
        &:nth-child(4) {
            animation-delay: 1s;
        }
    }
}

@media(max-width: 1320px) {
    .fading-shoes {
        width: calc(#{$shoe-image-size} * 3 + 30px);

        .shoe-box:nth-child(4) {
            display: none;
        }
    }
}

@media(max-width: 1080px) {
    .fading-shoes {
        width: calc(#{$shoe-image-size} * 2 + 10px);

        .shoe-box:nth-child(3) {
            display: none;
        }
    }
}

@media(max-width: 820px) {

    .marquee-banner {
        height: 200px;
    
        h1 {
            font-size: 60px;
            text-align: center;
        }
    }

    .fading-shoes {
        display: none;
    }
}

@media(max-width: 600px) {

    .marquee-banner {
        height: 140px;
    
        h1 {
            font-size: 40px;
        }
    }
}


// Animation stuff

@for $i from 1 through $count {
    .shoe-box img {
    
        &:nth-child(#{$i}) {
            animation-delay: calc(#{$i} * -#{$multiplier}s);
        }
    }
}

@keyframes fade {
    0% {opacity: 0;}
    8% {opacity: 1;}
    16% {opacity: 1;}
    24% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
