@import "../../_variables.scss";

header {
    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $header-height;
        width: 100%;
        padding: 0 $gutter-width;
        background-color: white;
    }

    .header-logo img {
        width: 100px;
    }
}

nav {
    display: flex;
    align-items: center;

    .header-icon {
        height: 24px;
        width: 24px;
        margin-left: 16px;
        opacity: 0.7;
        transition: opacity .25s;
        cursor: pointer;

        &.cart {
            background: url('../../assets/images/cart-icon.svg') no-repeat;
            background-size: 24px;
        }

        &.profile {
            background: url('../../assets/images/profile-icon.svg') no-repeat;
            background-size: 24px;
        }

        &:hover,
        &:active {
            opacity: 1;
        }
    }
}

.autocomplete-mobile {
    display: none;
}

@media(max-width: 1020px) {
    header > div {
        padding: 0 $gutter-width-sm;
    }
}

@media(max-width: 600px) {
    header > div {
        height: auto;
        
        &:first-child {
            padding-top: 18px;
        }

        &:last-child {
            padding-top: 12px;
            padding-bottom: 18px;
        }
    }
    .autocomplete-full {
        display: none;
    }
    .autocomplete-mobile {
        display: block;

        input {
            width: 100% !important;
        }
    }
}