@import "../../../_variables.scss";

.results-grid-wrapper {
    padding: $gutter-width;

    .results-grid {
        display: grid;
        grid-column-gap: 22px;
        grid-row-gap: $gutter-width;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: auto;
    }
}

@media(max-width: 1200px) {
    .results-grid-wrapper {
    
        .results-grid {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}

@media(max-width: 1020px) {
    .results-grid-wrapper {
        padding: $gutter-width-sm;
    
        .results-grid {
            grid-column-gap: 16px;
            grid-row-gap: $gutter-width-sm;
        }
    }
}

@media(max-width: 600px) {
    .results-grid-wrapper {
    
        .results-grid {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
}

// Render the stars

@include review-stars;