@import "../../../_variables.scss";

.results-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $gutter-width;
    height: 74px;
    border-bottom: 1px solid $border-color;
    background-color: white;
}

.sort-by  {
    display: flex;
    align-items: center;

    p {
        color: $color-black-60;
        font-size: 14px;
        margin-right: 10px;
    }
}

@media(max-width: 1020px) {
    .results-header {
        padding: 0 $gutter-width-sm;
    }
}

@media(max-width: 920px) {
    .sort-by p {
        font-size: 13px;
    }
}

@media(max-width: 600px) {
    .results-header {
        justify-content: center;
    }
    .sort-by {
        display: none;
    }
}